body {
    text-align: center;
    margin: 20px;
    background-color: #f9f9f9;
}


h2, h3 {
    text-align: center;
    color: #444;
}

main{
    gap: 5px;
}

/* Formulario de Creación */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input, select, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #0056b3;
}

/* Tabla de Usuarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 13px;
}

table th {
    background: #007bff;
    color: white;
}


.fs-custom {
    font-size: 1.7rem;
    padding: 18px 15px;
}

table tr:nth-child(even) {
    background: #f2f2f2;
}

/* Botones de Acciones */
form[action*='editar'], form[action*='eliminar'] {
    display: inline;
}

form[action*='eliminar'] button {
    background: #dc3545;
}

form[action*='eliminar'] button:hover {
    background: #a71d2a;
}

/* Enlace de Volver */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}